.chat-main
  .group-info
    %h2.group-info__current-group
      = @group.name
      %p.member-list 
        Member:
        - @group.users.each do |user|
          = user.name
    .group-info__edit
      = link_to edit_group_path(@group) , class: "edit-link" do
        Edit
  .message-list
    = render @messages

  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message-form__new-message', placeholder: 'type a message'
      .message-form__input-box
        = f.label :image, class: 'message-form__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'message-form__submit-btn'